

<div>
    <main>
      <section class="relative w-full h-40 py-40 min-h-screen">
        <div
          class="absolute top-0 w-full h-full bg-gray-200 bg-no-repeat bg-cover " 
          style="background-image: url('assets/img/register_bg_2.png')"
        >
       

<div class="container mx-auto px-4 h-full ">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0 bg-white"
        >
        
          <div class="rounded-t mb-0 px-6 py-6">
            <div class="logo">
              <div class="text-4xl text-center">
    
                <span class="text-orange-500" routerLink="/home">Flesk</span>Car 
            </div></div>
            <div class="text-center mb-3">


              <h6 class="text-blueGray-500 text-sm font-bold">Se Connecter</h6>
            </div>
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
           
            <form >
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password" for="email"
                >
                  Email
                </label>
                <input
                  type="email" [(ngModel)]="email" name="email" id="email" autocomplete="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Email"
                />
              </div>
  
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  for="password"
                >
                  Password
                </label>
                <input
                  type="password" [(ngModel)]="password" name="password" id="password" autocomplete="off"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password"
                />
              </div>
         
  
              <div class="text-center mt-6">
                <button (click)="connexion()" 
                  class="bg-orange-500 text-white active:bg-orange-500 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button"
                >
                 connecter
                </button>
               
              </div>
            
              
            
            </form>
          </div>
        </div>
       
      </div>
    </div>
  </div></div>
</section>
</main>
</div>