
<div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-white">
<div class="relative overflow-x-auto" ><br>
    <p class="text-lg md:text-2xl dark:text-white font-semibold leading-6 xl:leading-5 text-gray-800 mx-4">
        La Liste de les Demandes d'etre un expert
        </p>
        <br>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                  Nom&Prénom
                </th>
                <th scope="col" class="px-6 py-3">
                   téléphone
                </th>
                <th scope="col" class="px-6 py-3">
                    city
                </th>
                <th scope="col" class="px-6 py-3">
                  Effectuer la Demande
                </th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800" *ngFor="let expertRequest of expertRequests">
                <th scope="row" class="px-9 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="ps-3">
                    <div class="text-base font-semibold"> {{ expertRequest.firstName }} {{ expertRequest.lastName }}</div>
                    <div class="font-normal text-gray-500">   {{ expertRequest.email }}</div>
                </div>
                </th>
                <td class="px-9 py-4">
                    {{ expertRequest.telephone }}
                </td>
              
                <td class="px-9 py-4">
                    {{ expertRequest.city }}
                </td>
                <td class="px-9 py-4">
                   {{ expertRequest.createdAt| date:'dd-MM-yyyy'}}
                </td>
                <td class="px-9 py-4"> <div class="flex">
                    <button (click)="confirmRequest(expertRequest.ider)"
                      type="button"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                      class=" mr-2 flex items-center rounded bg-green-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                      Accepter
                    </button>
                    <button  (click)="refuseRequest(expertRequest.ider)"
                      type="button"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                      class="flex items-center rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                  Refuser
                    </button>
                    </div></td>
            </tr>
            
        </tbody>
    </table>
</div>
<nav class="inline-flex space-x-2.5">
    <a class="flex items-center py-2 px-3 rounded font-medium select-none border text-gray-900 bg-white transition-colors hover:border-blue-600 hover:bg-blue-400 hover:text-white"
        href="#">
        ⪻
        Previous
    </a>
    <a class="flex items-center py-2 px-3 rounded font-medium select-none border text-gray-900 bg-white transition-colors hover:border-blue-600 hover:bg-blue-400 hover:text-white"
        href="#">
        Next
        ⪼
    </a>
</nav>
</div>
