<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
  
    <div class="logo">
      <div class="text-4xl text-center flex items-center">
     <img src="./assets/img/logo.svg" class="w-10 h-11">
        <span class="text-orange-500 " routerLink="/home">Flesk</span>Car 
    </div></div>
    <!-- User -->
    <ul class="md:hidden items-center flex flex-wrap list-none">
      <li class="inline-block relative">
        <app-notification-dropdown class="block"></app-notification-dropdown>
      </li>
      <li class="inline-block relative">
        <app-user-dropdown class="block"></app-user-dropdown>
      </li>
    </ul>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/admin/Dashboard']"
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            >
              
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-6 mb-4 md:hidden">
        <div class="mb-3 pt-0">
          <input
            type="text"
            placeholder="Search"
            class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
          />
        </div>
      </form>

    
      <hr class="my-2 md:min-w-full" />
      
      <!-- Navigation -->

      <h6
      class="md:min-w-full text-gray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
    >
     Principale
    </h6>

     

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/admin/dashboard']" class="text-xs uppercase py-3 font-bold flex items-center" routerLinkActive #adminDashboard="routerLinkActive" [ngClass]="adminDashboard.isActive ? 'text-orange-500 hover:text-orange-700' : 'text-gray-700 hover:text-gray-500'">
            <i class="fa-solid fa-tv mr-2 text-base"  [ngClass]="
            adminDashboard.isActive ? 'opacity-75' : 'text-gray-400'
          "></i>
            <span>Dashboard</span>
          </a>
        </li>
        <hr class="my-2 md:min-w-full" />
        <!-- Heading -->
        <h6
          class="md:min-w-full text-gray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
        >
          Listes
        </h6>
        
        <li class="items-center">
          <a
            [routerLink]="['/admin/Clients']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminUtilisateurs="routerLinkActive"
            [ngClass]="
              adminUtilisateurs.isActive
                ? 'text-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
          <i class="fa-solid fa-users mr-2 text-base"  [ngClass]="
          adminUtilisateurs.isActive ? 'opacity-75' : 'text-gray-400'
        "></i>
            Liste Clients
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/Experts']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminExperts="routerLinkActive"
            [ngClass]="
              adminExperts.isActive
                ? 'text-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            ">
          <i class="fa-solid fa-users-gear mr-2 text-base"  [ngClass]="
          adminExperts.isActive ? 'opacity-75' : 'text-gray-400'
        "></i>
            Liste Experts
          </a>
        </li>


       

        <li class="items-center">
          <a
          
            [routerLink]="['/admin/Annonces']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminAnnonces="routerLinkActive"
            [ngClass]="
              adminAnnonces.isActive
                ? 'text-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
          <i class="fa-solid fa-car mr-2 text-base" 
           [ngClass]="
          adminAnnonces.isActive ? 'opacity-75' : 'text-gray-400'
        "></i> Les Annonces 
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/DemandeExpert']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminDemandeExpert="routerLinkActive"
            [ngClass]="
              adminDemandeExpert.isActive
                ? 'text-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
          <i class="fa-solid fa-list-check mr-2 text-base" 
          [ngClass]="
         adminDemandeExpert.isActive ? 'opacity-75' : 'text-gray-400'
       "></i>
            Demande d'etre Expert
          </a>
        </li>


        <li class="items-center">
          <a
            [routerLink]="['/admin/clientbloquer']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminMaps="routerLinkActive"
            [ngClass]="
              adminMaps.isActive
                ? 'text-bg-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
            <i
              class="fa-solid fa-users-slash mr-2 text-sm"
              [ngClass]="
                adminMaps.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
        Les Clients Bloquer
          </a>
        </li>




        <li class="items-center">
          <a
            [routerLink]="['/admin/expertbloquer']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminMaps="routerLinkActive"
            [ngClass]="
              adminMaps.isActive
                ? 'text-bg-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
            <i
              class="fa-solid fa-users-slash mr-2 text-sm"
              [ngClass]="
                adminMaps.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
            Les Experts Bloquer
          </a>
        </li>


        <li class="items-center">
          <a
            [routerLink]="['/admin/tables']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminTables="routerLinkActive"
            [ngClass]="
              adminTables.isActive
                ? 'text-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
            <i
              class="fas fa-table mr-2 text-sm"
              [ngClass]="
                adminTables.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
            Les Abonnement
          </a>
        </li>


        <li class="items-center">
          <a
            [routerLink]="['/admin/settings']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminMaps="routerLinkActive"
            [ngClass]="
              adminMaps.isActive
                ? 'text-bg-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
            <i
              class="fa-regular fa-message"
              [ngClass]="
                adminMaps.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
            Les Messages
          </a>
        </li>












        <li class="items-center">
          <a
            [routerLink]="['/admin/paiment']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminMaps="routerLinkActive"
            [ngClass]="
              adminMaps.isActive
                ? 'text-bg-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
            <i
              class="fa-regular fa-money-bill-1 mr-2 text-sm"
              [ngClass]="
                adminMaps.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
            Les Paiments 
          </a>
        </li>
      </ul>


     

    

      <!-- Divider -->
      <hr class="my-2 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-gray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        No Layout Pages
      </h6>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
       

        <li class="items-center">
          <a
            [routerLink]="['/admin/profile']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminprofile="routerLinkActive"
            [ngClass]="
              adminprofile.isActive
                ? 'text-orange-500 hover:text-orange-700'
                : 'text-gray-700 hover:text-gray-500'
            "
          >
            
            <i class="fas fa-user-circle mr-2 text-sm"
            [ngClass]="
              adminTables.isActive ? 'opacity-75' : 'text-gray-400'
            "></i>
            Profile 
          </a>
        </li>

       <li class="items-center">
  <a [routerLink]="['/login']" class="text-gray-700 hover:text-gray-500 text-xs uppercase py-3 font-bold block flex items-center">
    <i class="text-gray-400 mr-2 text-base"> <svg class="text-gray-200 mr-2 text-sm" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
    </svg></i>
    <span>Se déconnecter</span>
  </a>
</li>
        
      </ul>

     