<a
  class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <i class="fas fa-bell text-2xl"></i>
  <span *ngIf="notifications.length > 0 && !dropdownPopoverShow" class="ml-1 text-red-500">{{ notifications.length }}</span>
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-white text-base z-50 float-right py-2 list-right text-left rounded shadow-lg min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
    style="position: absolute; right: 0;"
  >
    <div
      class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    >
    <a
        *ngFor="let notification of notifications"
        href="#pablo"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
      >
      <ng-container *ngFor="let name of extractNames(notification.content)">
        {{ name }}
      </ng-container>
       demander d'être un expert
        
        
        <div class="h-0 my-2 border border-solid border-gray-100"></div>
   
      </a>
  
    </div>
  </div>
</div>
