<a
  class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <i class="fas fa-bell text-2xl"> 
    <span *ngIf="getUnreadCount() > 0" class="absolute   w-3 h-3 bg-red-600 text-white text-xs font-bold text-center rounded-full">{{ getUnreadCount() }}</span></i>
 
 
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-white text-base z-50 float-right py-2 list-right text-left rounded shadow-lg min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
    style="position: absolute; right: 0;"
  >
    <div
      class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    >
    <a
        *ngFor="let notification of notifications"  (click)="markAsRead(notification.idn)" routerLink="/admin/DemandeExpert"
        [ngClass]="{'text-gray-800': !notification.isRead, 'text-gray-300': notification.isRead}" 
       
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent "
      >
      {{ cleanContent(notification.content) }}
    
       <br>
       {{notification.createdAt | date:'dd-MM-yyyy'}}
    
        <div class="h-0 my-2 border border-solid border-gray-100"></div>
   
      </a>
  
    </div>
  </div>
</div>
